{{#link-to 'post' post class="posts-tab"}}
{{post.user.id}}
{{post.title}}
{{/link-to}}
<button type="button" name="button" {{action 'delete'}}>Delete</button>

{{#link-to 'post.edit' post}}
<button type="button" name="button">Edit</button>
{{/link-to}}
