<div class="index-post">
{{#link-to 'post' post class="posts-tab"}}
<p class="posts-form-title">{{post.title}} </p>
<p class="posts-form-body">{{post.body}}</p>
{{/link-to}}
{{#if post.editable}}
{{#link-to 'post.edit' post}}
<p class="comment-button-edit">Edit</p>
{{/link-to}}
<p class="comment-button-delete" {{action 'delete'}}>Delete</p>
{{/if}}
</div>
