{{#link-to 'post' post}}

{{post.title}}
{{/link-to}}
<button type="button" name="button" {{action 'delete'}}>Delete</button>

{{#link-to 'post.edit' post}}
<button type="button" name="button">Edit</button>
{{/link-to}}
