

{{#if post.editable}}
<button type="button" name="button" {{action 'delete'}}>Delete</button>

{{#link-to 'post.edit' post}}
<button type="button" name="button">Edit</button>
{{/link-to}}
{{/if}}
{{#link-to 'post' post class="posts-tab"}}
<ul class="list-group">
  <li class="list-group-item active">{{post.title}}</li>
  <li class="list-group-item">{{post.body}}</li>
</ul>

{{/link-to}}
