{{!-- {{post delete='deletePost'}} --}}
<h1>POSTS</h1>
<ul>
  <li>{{model.title}}</li>
  <li>{{model.body}}</li>
  <li>
    <button type="button" name="button">Edit</button>

  </li>
</ul>
{{#link-to 'posts'}}Back{{/link-to}}
