<h1>POSTS</h1>

{{#link-to 'posts'}}Back{{/link-to}}

{{outlet}}
<div class="panel panel-primary">
  <div class="panel-body">
    <li class='post-title'>{{model.title}}</li>
  </div>
  <div class="panel-footer"><li class='post-body'>{{model.body}}</li></div>
</div>
